*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'PT Serif', serif;
    font-weight: 400;
    color: black;
    background-color: #fff;
}
.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 4rem;
    background-color: #000;
    justify-content: start;
    gap: 20px;
    align-items: center;
    position: relative;
}

.header > img{
    
    margin-left: 2%;
    margin-right: 1%;
    height: 80%;
}
.header > div{
    font-size: 2.5rem;
} 
.nav{
    height: 15vh;
    background-color: #2B3258;
    color: white;
}
#top-container{
    /* height: 150vh; */
}
.text-container{
    display: inline-flex;
    margin-top: 4.2rem;
    width: 100%;
    gap: 10rem;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
}
.header-facultyLogin{
    text-decoration: underline;
    position:absolute;
    right: 5%;
    /* align-self: flex-end; */
}
#bottom-container{
    width: 100%;
    /* margin-top: 6rem; */
    height: 30vh;
    /* background-color: #758FB5; */
    background-color: #000;
    border-radius: 35px 35px 0px 0px;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    }
    .bottom-image-container{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
    }   
    .bottom-address-container{
        margin-top: 30px;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-start: 4;
    }
    .bottom-links-container{
        margin-top: 30px;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 5;
        grid-column-start: 6;
    
    }
    .bottom-contact-container{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 7;
        grid-column-start: 8;
    
    }
    
    .social-container{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 35px;
    position: relative;
    }
    .bottom-image-container-1{
    display: inline-flex;
    gap: 20px;
    width: 30%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    }
    /* .bottom-address-container{
    display: inline-flex;
    width: 30%;
    } */
    .bottom-container{
    display: inline-flex;
    flex-direction: row;
    }
    a{
        color: #ffff;
    }
    
    .social-image-footer{
        position: absolute;
        width: 3rem;
        height: 3.5rem;
        margin: auto;
        left:0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .bottom-links-container > div{
        font-family:'PT Serif', serif;
        font-size: 2rem;
    }

    .bottom-address-container{
        color: white;
    }
    .bottom-address-container > p{
        font-family:'PT Serif', serif;
        font-size: 1.5rem;
    }
    h3{
        font-size: 3.5rem;
        font-weight: bold;
    }
    a:hover{
        color: #f3b600;
    }
    .bottom-links-container{
        color: white;
    }
    .bottom-social:hover{
        transform: scale(1.22);
    }

    .area-1{
        position: relative;
        margin-top: 2rem;
    }
    
    .area-1 > img{
       
        display: block;
        margin: auto;
        width: 18%;
    }   

    .area-1 > p{
        text-align: center;
        font-size: 3.5rem;
    }
    .area-1 > hr{
        border: dotted 1rem;
        width: 80%;
        border-bottom: none;
        margin: 10px auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    
    }

    .heading{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 50px;
        font-family: 'Source Serif Pro', serif; 
        font-size: 5rem;
        font-weight: 400;
        text-shadow: 2px 2px 4px #000000;
        
    }

    .items{
        width: 80%;
        margin-left:9%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    
    .social-image,.research-image{
        
        width: 33px;
        height: 40px;
    }
    .column-felx{
        display: flex;
        flex-direction: column;

    }
    .column-flex > p{
        font-size: 2rem;
        font-weight: bold;
        gap: 10px;
    }
    .body-anchor{
        color: #000;
        font-weight: 100;
    }
    .heading-items li{
        font-family: 'Source Serif Pro', serif; 
        font-size: 2.5rem;
    }

    .research-items{
        justify-content: space-around;
        
    }
    